{% extends 'base.html.twig' %}
{% block title %}Register!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="card">
        <h3 class="card-header">
           Registration
        </h3>
        <div class="card-body">
            <form method="POST">
                {{ form_start(registrationForm) }}
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">First name</label>
                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last name</label>
                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control' }}) }}
                </div>
                {% if error %}
                    <br>
                    <div class="alert alert-danger"><span>{{ message }}</span></div>
                    <br>
                {% endif %}
                <button type="submit" class="btn btn-primary"> Register</button>
                {{ form_end(registrationForm) }}
            </form>
    </div>
    </div>
{% endblock %}